

.listaPlatosMenu{
    width: 60%;
}
.contenedorCreateMenu{
    display: flex;
    margin-left: 40;
    
}
.calendarioMenu{
  margin-left: 300px;
}


.actualizarContainer{
  display: flex;
  justify-content: space-around;
}