.cardContainer{
   
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;
   
}
h3{
    margin: 50px;
}

.cardMenu{
    background-color: #c2e5f5 !important;
    max-width: 315px;
    margin-bottom: '5px';
   
}
.cardbody{
    background-color: #c2e5f5;
}
.cards{
    width: 340px;
    
}

.cardContenedorPlatos{
    display: flex;
    justify-content: space-between;
}
.pPlatos{
    margin: 0px;
    margin-right: 8px;
}
.precioChek{
    display: flex;
}