  .containerNavbar{
    margin-bottom: 100px;
  }
  
  
  #header{
      height: 80px;
      width: 100%;
      background-color: #025f86; 
     
  }

  #logo{
      color: white;
      font-size: 50px;
  }
  #header  a  {
      color: white;
      text-decoration: none;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-right: 50px;
    
  }
#logo :hover{
    color: #CECAB4
  
}
.nav_header{
    justify-content: end;

}


.dropdwon_items{
    color: #444;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.opUsuario{
    margin-right: 0px!important;
    width: 150px !important;
}
.usuarios {
    margin-right: 0px;
    width: 100px;
}